.logo{
    width:15rem;

}
body{
    height: 1000px;
}
header{
    height: 6rem;
}
nav{
    height: 6rem;
}
.resimortala {
    display: flex;
    justify-content: center;
}
.yazıortala {
    text-align: justify;
}
footer {
    background-color: whitesmoke;
    text-align: center;
}
.sosyalmedya a {
    color: #333;
    font-size: 24px;
    margin: 10px;
}
.sosyalmedya a:hover {
    color: #007bff;
}