.logo{
    width:15rem;

}
header{
    height: 6rem;
}
nav{
    height: 6rem;
}
.resimortala {
    display: flex;
    justify-content: center;
}
.yazıortala {
    text-align: justify;
}
footer {
    background-color: whitesmoke;
    text-align: center;
}
.sosyalmedya a {
    color: #333;
    font-size: 24px;
    margin: 10px;
}
.sosyalmedya a:hover {
    color: #007bff;
}
.arkaplan{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("pictures/zilekalesi.jpg");
    background-position: center;
    background-size: cover;
}
.arkaplan2{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url("pictures/Taceddin-İbrahim-Paşa-Hamamı.jpg");
    background-position: center;
    background-size: cover;
}
.arkaplan3{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url("pictures/amasya-caddesi.jpg");
    background-position: center;
    background-size: cover;
}
.arkaplan4{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url("pictures/bat.jpg");
    background-position: center;
    background-size: cover;
}
.arkaplan5{
    width: auto;
    height: 998px;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url("pictures/haciboz-koprusu.jpg");
    background-position: center;
    background-size: cover;
    transform: scaleX(1.016);
    padding-top: 10rem;
}
.yazıgolge{
    color: whitesmoke;
    text-shadow: 2px 2px black;
    text-align: justify;
}
#kale,
#hamam,
#konak,
#yemek {
    padding-top: 90px;
}